
			
		
		
			body {
				font-family:'Poiret One';
				margin:0;
				padding:0;	
			}
			
			/* head */
		
			.head {
				padding:5px;
				background-color:#111;
				border-bottom:solid 1px #0DB;
				min-width:915px;
			}
			
			.head .title {
				margin:5px;		
			}
			
			.head h1 {
				font-size:20pt;
				color:#0DB;		
			//	line-height:10px;
				display:inline;
			}
			
			.head h2 {
				font-size:11pt;
				color:#BBB;		
			//	line-height:5px;
				display:inline;
				margin-left:20px
			}
			
			/* nav */
			
			.nav {
				padding:10px;
				background-color:#F5F5F5;
				border-bottom:solid 1px #CCC;
				display:none;
				user-select:none;
				-webkit-user-select:none;
				-moz-user-select:none;
			}
			
			.nav span {
				color:#000;
				font-size:11pt;
				cursor:pointer;
				font-weight:bold;
			}
			
			.nav .back {
				margin-left:2px;	
			}
			
			.nav .prev {
				float:right;
				margin-right:20px;
			}
			
			.nav .next {
				float:right;
				margin-right:20px;	
			}
			
			#workblurb {
				position:absolute;
				right:0px;
				top:38px;
				padding:5px 10px;
				background-color:#FFF;
				border:solid #CCC;
				border-width:0px 0px 1px 1px;
				color:#5f5f5f;
				opacity:0.9;
				max-width:260px;
				font-size:11pt;
				font-weight:bold;
			//	z-index:100;
				display:none;
				line-height:20px;
				text-align:right;
			}
			
			/* content */
			
			.gallery {
				width:100%;
				margin:10px 0px;
			}
			
			.gallery .wall {
				width:600px;
				margin:0 auto;
				height:600px;
				border:solid 0px black;	
				position:relative;
			}
			
			.wall_item {
				border:solid 0px gray;
				position:absolute;
				width:100px;
				height:auto;
				text-align:center;
				padding:10px;
				border-radius:10px;
				-moz-border-radius:10px;
				-webkit-border-radius:10px;
				color:#555;
				font-size:10pt;
				font-weight:bold;
			}
			
			.wall_item:hover {
			//	background-color:#EEE;
				color:#111;
				cursor:pointer;
			}
			
			#wall_item1 {
				top:10px;
				right:150px;
			}
			
			#wall_item2 {
				top:200px;
				right:0px;
			}
			
			#wall_item3 {
				top:400px;
				right:150px;
			}
			
			#wall_item4 {
				top:400px;
				left:150px;
			}
			
			#wall_item5 {
				top:200px;
				left:0px;
			}
			
			#wall_item6 {
				top:10px;
				left:150px;
			}
			
			.gallery .wall_item .thumb {
				display:block;
				margin:0 auto;	
				width:100%;
				height:100px;
				margin-bottom:8px;
			}
			
			.gallery .wall_item .thumb .thumbimg {
				display:inline;
				margin-left:auto;
				margin-right:auto;	
				width:100px;
				height:100px;
				vertical-align:middle;
				margin-bottom:8px;
			}
			
			.gallery .wall_item .thumb .octa {
				position:absolute;
				margin:0px;
				width:100px;
				height:100px;
			}
			
			
			/* tabs */
			
			.tab {
				border:solid 1px #111;	
				float:left;
				margin-left:10px;
				margin-top:12px;
				color:#999;
				font-size:11pt;
				font-weight:bold;
				//line-height:30px;
				cursor:pointer;
			}
			
			.interview_tab:hover,
			.about_tab:hover {
				color:#0db;
				border:solid 1px #0DB;	
			}
			
			.art_tab {
				margin-top:8px;
			}
			
			.art_tab .gallery_sq {
				width:20px;
				height:20px;
				background-color:#0DB;
				border:solid 2px black;
				float:left;	
				-webkit-border-radius:4px;
			}
			
			.art_tab .gallery_sq:hover {
				opacity:0.8;	
			}
			
			.interview_tab,
			.about_tab {
				padding:5px 10px;
				margin-top:10px;	
				float:right;
			}
			
			.interview_tab {
				margin-right:0px;	
			}
			
			.about_tab {
				margin-right:10px;
			}
			
			/* gallery arrows */
			
			.gallery_arrow {
				color:#333;
				font-size:100pt;
				font-weight:bold;
				font-family:times;
				position:absolute;
				opacity:0.1;
				cursor:pointer;
				top:1px;
				height:100%;
				line-height:83px;
				background-color:#FFF;
				margin-top:52px;
				user-select:none;
			}
			
			.gallery_arrow:hover {
				opacity:1;	
				background-color:#F7F7F7;
			}
			
			.gallery_arrow img {
				margin:260px auto 0;
			}
						
			.gallery_arrow_l {
				left:0px;
				padding:0 40px 0 20px;	
				border-right:solid 1px #888;
			}
			
			.gallery_arrow_r {
				right:0px;
				padding:0 20px 0 40px;
				border-left:solid 1px #888;
			}
			
			/* wall desc */
			
			#wall_desc {
				position:absolute;
				left:160px;
				top:200px;
				width:260px;
			//	height:100px;
			//	padding:10px;
				border:solid 0px #CCC;
				color:#444;
				font-size:10pt;
			}
			
			#wall_desc .title {
				font-size:15pt;
			}
			
			#wall_desc .years {
				font-size:12pt;
			}
			
			#wall_desc .category {
				color:#333;
				font-weight:bold;	
				line-height:30px;
			}
			
			/* interviews */
			
			#interviews {
				font-weight:bold;
				font-family:times;
				color:#555;
				display:none;
				width:80%;
				margin:50px 10%;
				border:solid 0px #0b9;
			}
			
			#interviews .name {
				font-size:20pt;
				color:#444;
				cursor:pointer;
			}
			
			#interviews .notdone {
				color:#DDD;
				cursor:default;
			}
			
			#interviews .done:hover {
				color:#0b9;
			}
			
			#interviews .question {
				font-size:13pt;
				color:#222;
			}
			
			#interviews .answer {
				font-size:12pt;
				font-weight:normal;
			}
			
			.interviewbox {
				padding:10px;
				margin:15px 0px;
				border:solid 1px #EEE;	
			}
		
			#interviews a {
				color:#555;
				font-weight:bold;	
			}
			
			
			.works, .nav {
			//	display:block;	
			}
			
			.head, .gallery {
			//	display:none;	
			}
			
			.gallery, .tab {
				display:none;	
			}
		
			.head {
				position:fixed;
				top:0px;
				left:0px;
				width:100%;
			//	z-index:20;	
			}
			
			
			.sort_item {
				position:relative;
				float:left;
				height:140px;
				margin-left:0px;
				margin-right:0px;
				padding:0px;
				opacity:1;
			}
			
			.sort_item:hover {
			//	z-index:10;	
				color:#000;
			}
			
			.sort_item img {
				width:100px;
			}
			
			.thumb_tint {
				position:absolute;
				top:0px;
				left:0px;
				width:100%;
				height:100px;
				opacity:.2;				
			}
			
			.thumb_tint:hover {
				opacity:0.0;	
			}
			
			#bouncing_ball{
				position:fixed;
				left:100px;
				bottom:20px;
				width:20px;
				height:20px;
				border-radius:10px;
				-moz-border-radius:10px;
				-webkit-border-radius:10px;
				background-color:red;
			//	z-index:50;
				display:block;
			}
			
			.longlist {
				position:absolute;
				top:200px;
			}
			
			
			
		/*	.genre_header {
				clear:both;
				width:100%;
				padding:0px;
				//border-bottom:solid 1px #8dd;
				font-size:15pt;
				color:#444;
				margin-left:-100px;
			} */
			
			.genre_header {
				width:1000px;
				float:left;
				padding:0px;
				font-size:15pt;
				color:#444;
				height:140px;
				background-color:#fff;
				text-align:center;
				line-height:100px;
				font-size:20pt;
				clear:all;
			} 
			
			#bygenre {
				background-color:none;
				position:relative;
				margin:240px auto 0px;
				width:80%;
			}
			
			
			
			/* new big pic */
			
			#bigpic	{
				width:80%;
				//background-image:url("images/bid-green.png");
				//background-image:url("images/paintvid_tiny.png");
				//background-image:url("images/branches.jpg");
				background-image:url("images/paintvid3.jpg");
				height:200px;
				color:white;
				font-size:150px;
				text-align:center;
				font-family:courrier;
				line-height:200px;
				position:absolute;
				left:10%;
				top:0px;
				z-index:0;
			}
			
			/* lifestory */
			
			
  			@font-face {
				font-family: 'Poiret One';
				src: url('../fonts/PoiretOne-Regular.ttf')
			}
			
			
			.segment {
				position:relative;
				height:700px;
				width:100%;
				border:solid 1px black;
				font-size:40pt;
			}
			
			.s_dark {
				border-top:solid 2px gray;
				border-bottom:solid 2px gray;
				color:white;
			}
			
			.s_light {
				color:#333;
				background-color:white;
				//height:700px;
			}
			
			.colorthehatch, .hatchit, .life {
				position:absolute;
				top:0px;
				left:0px;
				width:100%;
				height:100%;
			}
			
			.colorthehatch {
				background-color:#925;
			}
			
			.hatchit {
				background-image:url("../images/hatch_bg5.jpg");
				opacity:0.60;
			}
			
			.life {
				padding:50px;
			}
			
			.currProjItem {
				float:left;
				margin-right:30px;
				margin-top:20px;
				width:300px;
				font-size:15pt;
			}
			
			.currProjItem img {
				width:300px;
				height:200px;
				margin-bottom:20px;
			}
			
			#loading_screen {
				width:100%;
				height:100%;
				opacity:0.87;
				background-color:#FFF;
				color:black;
				font-weight:bold;
				font-size:40pt;
				padding-top:200px;
				margin:0 auto;
				text-align:center;
				position:fixed;
				top:0px;
				left:0px;
				z-index:1000;
			}