
body {
	letter-spacing:0.3px;
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;font-weight: normal;
	margin:0px;
	padding:0px;
}

/* Default Link Styles */
a {
  color:rgb(20,180,220);
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    opacity:0.7 }
  a img {
    border: none; }

}


.mobileonly {
	display:none;
}

.desktoponly {
	display:block;
}


.topright {
	position:fixed;
	top:0px;
	right:0px;
	color:#bbb;
	font-size:12pt;
	padding:10px;
	z-index:5;
}

.topright img {
	width:40px;
}

.topright img:hover {
	opacity:0.7;
}






/* articles */

#content h1 {
	font-size:17pt;
	font-weight:300;
	padding:0px 0px 20px;
	margin:0;
}
#content h2 {
	font-size:17pt;
	font-weight:300;
	padding:0px 0px 0px;
	margin:0;
}
#content h3 {
	font-size:17pt;
	font-weight:300;
	padding:0px 0px 0px;
	margin:0;
}
#content h4 {
	font-size:15pt;
	font-weight:300;
	padding:20px 0px 10px;
	margin:0;
}
#content h5 {
	font-size:15pt;
	padding:6px 0px;
	font-weight:300;
	margin:0;
}
#content p, .homepage-text {
	font-size:13pt;
	font-weight:300;
	letter-spacing:0em;
	line-height:1.5em;
	color:#555;
	margin:0 0 20px 0;
}
#content strong {
	font-weight:300;
	/*border-left: solid 2px rgb(20,180,230);
	padding-left: 4px; */
}
#content img {
	display: block;
	width: 100%;
}


.homepage-text a {
	/*background-color: rgb(20,180,230);
	opacity:0.5; */
	position:relative;
	z-index:1;
	color:#000;
	padding:0px 0px 0px;
	border-bottom: dotted 2px rgb(20,180,230);
	/*color: rgb(0,170,210); */
	display:inline;
	/*background-color: rgb(180,230,240); /* rgb(150,220,240);


	/*padding:0px 5px 0px;
	border-bottom: solid 2px rgba(20,180,230,.5); */

}
.homepage-text a:hover {
  background-color: rgba(20,180,230,.5);
	border-bottom: solid 2px rgb(20,180,230);
	opacity:1;
}

#content-frame {
	margin:100px auto 0px;
	max-width:650px;
	padding:30px;
	text-align:justify;
}

.menu {
	display: block;
	padding: 10px;
	position:fixed;
	bottom:0px;
	right:0px;
	text-align:right;
	margin:0;
}
.menu a {
	/* background-color: rgb(20,180,230);
	border-bottom: dotted 3px rgba(20,180,230,.5); */
	padding:4px 5px 2px;
	line-height:1em;
	display:inline-block;
	font-weight:300;
	font-size:13pt;
	margin:1px;
	color:#333;
	opacity:1;
}
.menu a:hover {
  background-color: rgba(20,180,230,.5);
/*	border-bottom: solid 3px rgb(20,180,230); */
}


/* Styles for screens that are atleast 768px; */
@media only screen and (max-width: 768px) {

	.mobileonly {
		display:block;
	}

	.desktoponly {
		display:none;
	}

	.menu {
		position:relative;
		top:0px;
		left:0px;
		text-align:center;
		display:block;
		margin:0;
		padding:0;
	}
	.menu a {
		display:block;
		margin:1px;
		background-color: rgb(20,180,230);
		border: none;
		color: white;
		padding:7px 0px;
	}
	.menu a:hover {
	  background-color: rgba(20,180,230,.5);
		border: none;
	}
	#content-frame {
		margin:50px auto 0px;
	}
}
